.myapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
  color: white;
  position: relative; /* Adicione isso para garantir o posicionamento relativo do conteúdo */
}


.appvide {
  position: relative; /* Certifique-se de que o container tenha o posicionamento relativo */
  width: 90%;
  height: 80%;
}

video {
  height: auto;
  border-radius: 10px;
  filter: brightness(4) saturate(1);/* Aumenta o brilho */
}

.appcanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; /* Isso vai colocar o canvas acima do vídeo */
}